{% extends "base.html" %}
{% block title %} Database Content {% endblock %}
{% block content %}

<h3>All Users</h3>

<!-- COMMUTER TABLE -->
<h2>Commuter Accounts</h2>
<table border="1" cellpadding="5">
  <tr>
    <th>user_id</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>user_role</th>
    <th>user_email</th>
    <th>user_password</th>
    <th>Created At</th>
  </tr>

  {% for user in users %}
    {% if user.user_role == "Commuter" %}
    <tr>
      <td>{{ user.user_id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.user_role }}</td>
      <td>{{ user.user_email }}</td>
      <td>{{ user.user_password }}</td>
      <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
    </tr>
    {% endif %}
  {% endfor %}
</table>


<!-- VEHICLE OPERATOR TABLE -->
<h2>Vehicle Operator Accounts</h2>
<table border="1" cellpadding="5">
  <tr>
    <th>user_id</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>user_role</th>
    <th>user_email</th>
    <th>user_password</th>
    <th>Created At</th>
  </tr>

  {% for user in users %}
    {% if user.user_role == "Vehicle Operator" %}
    <tr>
      <td>{{ user.user_id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.user_role }}</td>
      <td>{{ user.user_email }}</td>
      <td>{{ user.user_password }}</td>
      <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
    </tr>
    {% endif %}
  {% endfor %}
</table>


<h2>All Terminals</h2>
<table border="1" cellpadding="5">
  <tr>
    <th>Terminal ID</th>
    <th>Terminal Name</th>
    <th>Location</th>
    <th>Operator</th>
  </tr>

  {% for terminal in terminals %}
  <tr>
    <td>{{ terminal.terminal_id }}</td>
    <td>{{ terminal.terminal_name }}</td>
    <td>{{ terminal.location }}</td>

    <td>
      {% if terminal.operator %}
        {{ terminal.operator.first_name }} {{ terminal.operator.last_name }}
      {% else %}
        <i>No operator assigned</i>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<button type="button" class="btn btn-outline-primary">
    <a href="{{ url_for('admin') }}">Back</a>
</button>

{% endblock %}
